.ads-deposit-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 30px;
    overflow: auto;
    background-color: #000;
    color: #fff;
}

.ads-deposit-grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 10px;
    border-left: 2px solid #fff;
}

.total-cost {
    border-bottom: 2px solid #fff;
}