.formation-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.formation-page div {
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.open-formation-btn button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    background-color: lightgray;
    border-radius: 50px;
    cursor: pointer;
    transition: all .3s ease;
    gap: 10px;
}

.open-formation-btn button:hover {
    background-color: green;
    color: #fff;
}

.remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.remove-btn svg {
    transform: scale(1.5);
}