.refund-page {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.refund-page div {
    border: 2px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.refund-delete-btn {
    cursor: pointer;
}

.refund-delete-btn svg {
    transform: scale(2);
}