.refund-page {
    padding: 50px;
}

.refundbar {
    height: 70px;
    background-color: #000;
    border-radius: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}